@import url('https://fonts.googleapis.com/css?family=Heebo:700|Rubik');

/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor tex-decoration
 */

a,
a:hover {
    text-decoration: none;
}


/**
 * Remove list-style
 */

ol,
ul {
    list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
    font-size: 1em;
    font-weight: normal;
}

.container-fluid {
    padding: 0px;
}

.row {
    width: 100%;
    margin: 0;
}

/*  Reset fim  */

body {
    font-family: 'Rubik', sans-serif;
}

h1,
h3 {
    padding: 0 15px;
    font-weight: 700;
}

h1 {
    font-size: 40px;
    border-bottom: 3px solid #f1634b;
    color: #2c1c60;
    margin: 45px 0;
    padding-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 19px;
    padding: 0 15px;
    max-width: 920px;
}

.fd-column {
    flex-direction: column;
}

#sub-menu {
    position: absolute;
    left: -400px;
    width: 400px;    
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
}

#sub-menu div.row>div {
    width: 70%;
}
#sub-menu div.row>div a {
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#sub-menu img {
    height: 70px;
    padding: 10px;
    cursor: pointer;
}

#menu {
    background-color: #2c1c60;
}

#menu:after {
    content: '';
    display: block;
    background-image: url(../img/top-white.png);
    width: 100%;
    height: 35px;
}

header {
    display: flex;
    flex-direction: column;
}

header>div {
    height: 70px;
    padding: 0 10px;
}

header>div a img {
    height: 65px;
}

header>div a,
header>div nav {
    margin-top: 5px;
}

header>div nav a {
    padding: 0 15px;
    color: #fff;
}

header>div img {
    height: 75px;
    padding: 10px;
    cursor: pointer;
}

header>div nav a:hover {
    color: #f1634b;
}

#projeto>div:nth-child(2) {
    background-color: #f9e3c6;
    background-image: url(../img/pattern.png);
    padding: 15px 0;
}

#projeto div:nth-child(odd) {
    padding: 15px 0;
}

#projeto div:nth-child(2) p,
#projeto div:nth-child(2) h3 {
    color: #2c1c60;
}

#conteudo>div {
    background-color: #efefef;
    padding-bottom: 45px;
}

#apoio img {
    height: 100px;
    margin: 25px 0;
}

#acesse>div {
    background-color: #efefef;
    padding-bottom: 45px;
}

#acesse label {
    color: #666;
}

#acesse form {
    width: 400px;
}

#acesse form div.fd-column div {
    margin-bottom: 10px;
}

#acesse form input,
#acesse form button,
#acesse form a {
    height: 58px;
    font-size: 20px;
    padding: 14px 12px;
    color: #fff;
}

#acesse form button {
    background: #f1b019;
    border-radius: 0;
    text-align: center;
    width: calc(50% - 5px);
}

#acesse div a {
    width: 100%;
    text-align: center;
}

#acesse a.cadastrar {
    background: #e3584f;
    width: calc(50% - 5px);
}

#acesse a.facebook {
    width: 100%;
    background: #3b5998;
}

#acesse form a.esqueci-senha {
    float: right;
    text-align: right;
    font-size: 15px;
    color: #9c9b9b;
    text-decoration: underline;
    height: 10px;
    padding: 0;
}

footer div {
    font-size: 14px;
    color: #9c9b9b;
    padding: 10px 0;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}